/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Playfair Display", serif;
  font-family: "Quicksand", sans-serif;
  
}

._sidebar_7gfnp_4 {
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 255px;
  transition: transform .3s ease-in-out;
  text-align: center;
}
._sidebarImage_7gfnp_15 {
  width: 9.375rem;
  height: 9.375rem;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-image: url(/project-assets/about-BgAkqdr2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat ;
}

._sidebarUsername_7gfnp_27 {
  font-weight: 700;
  margin-bottom: .5rem;
  font-size: 1.375rem;
  font-family: "Playfair Display", serif;
}

._sidebarUsername_7gfnp_27 a {
  color: #000;
  text-decoration: none ;
}

._sidebarUserinfo_7gfnp_39 {
  font-size: .75rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #000000b3;
  line-height: 1.8 ;
}

._sidebarUserinfo_7gfnp_39 a {
  color: #2c98f0;
  text-decoration: none ;
}

._sidebarList_7gfnp_54 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  list-style-type: none;
  padding: 0;
  margin: 0 ;
}

._sidebarList_7gfnp_54 li {
  margin: 0 0 14px ;
}

._sidebarList_7gfnp_54 li a {
  text-decoration: none;
  padding: 5px 0;
  transition: .3s;
  color: #000000b3;
  position: relative ;
  
}

._sidebarList_7gfnp_54 li a:before,._sidebarList_7gfnp_54 li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #2c98f0;
  transition: width .3s ease-out ;
  
}


._sidebarList_7gfnp_54 li a:before {
  transform: translate(-50%) ;
}

._sidebarList_7gfnp_54 li a:after {
  transform: translate(-50%) ;
}

._sidebarList_7gfnp_54 li a:hover:before {
  width: 100% ;
}

._sidebarList_7gfnp_54 li a:hover:after {
  width: 50% ;
}
.heroSection{
  /* background-color: aqua; */
  top: 30%;
}
.heroSection h1 {
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
  color: #000 !important;
  font-family: Playfair Display,Georgia,serif;
}
.heroSection p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 300;
  font-family: Quicksand,Arial,sans-serif;
  color: #000
}

.heroSection p a {
  color: #2c98f0cc
}

.heroSection button {
  color: #000;
  border: 1px solid #000;
  background: transparent!important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 15px!important;
  font-weight: 400;
  width: fit-content;
  border-radius: 0;
  font-family: Quicksand,Arial,sans-serif
}

.heroSection button:hover {
  color: #000;
  border: 1px solid #000
}



.aboutTitle {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: "Quicksand", sans-serif;
}

.aboutHeading {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
  margin: 0 0 30px;
  color: #000;
  font-family: "Playfair Display", serif;}

.aboutText {
  margin-bottom: 1.5em;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #000000b3
}

.services {
  margin-bottom: 80px;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 56px -8px #0000002b;
  border-bottom: 2px solid #2c98f0;
  padding: 1.5em
}

.services .icon2 i {
  margin-bottom: 20px
}

.services .icon2 i {
  font-size: 30px;
  color: #2c98f0
}

.services h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500
}

.services.color-2 {
  border-bottom: 2px solid #ec5453
}

.services.color-2 .icon2 i {
  font-size: 30px;
  color: #ec5453
}

.services.color-3 {
  border-bottom: 2px solid #f9bf3f
}

.services.color-3 .icon2 i {
  font-size: 30px;
  color: #f9bf3f
}

.services.color-4 {
  border-bottom: 2px solid #a84cb8
}

.services.color-4 .icon2 i {
  font-size: 30px;
  color: #a84cb8
}
#about {
  padding-left: 15%;
  padding-right: 15%
}

@media (max-width: 768px) {
  #about {
      padding-left:5%;
      padding-right: 5%;
      padding-top: 15%
  }
}


#work {
  padding-left: 15%;
  padding-right: 15%
}

@media (max-width: 768px) {
  #work {
      padding-left:5%;
      padding-right: 5%;
      padding-top: 15%
  }
}

.workTitle {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: "Quicksand", sans-serif;
}

.workHeading {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
  margin: 0 0 30px;
  color: #000;
  font-family: "Playfair Display", serif;}

#work .nav-tabs .nav-link.active {
  color: #2c98f0;
  border: 0;
  font-weight: 500;
  padding: 0;
  padding-right: 1rem
}

#work .nav-tabs .nav-link {
  color: #000;
  padding: 0;
  padding-right: 1rem
}

.nav-tabs .nav-link:hover {
  border-color: transparent
}

#work .nav-tabs {
  border-bottom: 0
}

.project {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  width: 100%;
  display: block;
  margin-bottom: 30px
}

.project .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2c98f0;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.project .desc .con {
  padding: 20px;
  display: block;
  position: relative;
  height: 300px
}

.project:hover .desc {
  opacity: 1
}

.project:hover .desc h3 {
  transform: translateZ(0)
}

.project .desc h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform .3s,opacity .3s,-webkit-transform .3s;
  margin-bottom: 15px
}

.project .desc h3 a {
  color: #fff
}

.project .desc span {
  display: block;
  color: #ffffffb3;
  font-size: 13px;
  transition: transform .3s,opacity .3s,-webkit-transform .3s
}

.project .desc .con .icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px
}

.project .desc .con .icon span {
  display: inline;
  padding-right: 5px
}

.project:hover .desc span {
  transform: translateZ(0)
}

.project .desc span {
  color: #ffffffb3;
  font-size: 13px;
  transition: transform .3s,opacity .3s,-webkit-transform .3s
}

.project .desc .con .icon span a {
  color: #333;
  padding: 5px;
  background: #ffffff80;
  border-radius: 4px
}

.project .desc .con .icon i {
  font-size: 16px;
  color: #333
}


#skills {
  padding-left: 15%!important;
  padding-right: 15%!important
}

@media (max-width: 768px) {
  #skills {
      padding-left:5%!important;
      padding-right: 5%!important;
      padding-top: 15%!important
  }
}

.skillsTitle {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: "Quicksand", sans-serif;
}

.skillsHeading {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
  margin: 0 0 30px;
  color: #000;
  font-family: "Playfair Display", serif;}

.skillsText {
  margin-bottom: 1.5em;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #000000b3
}

.progressTitle {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #000;
  margin: 25px 0 0
}

.progress {
  height: 6px;
  box-shadow: none;
  background: #f2f3f7;
  overflow: visible
}

.progress-bar:after {
  position: absolute;
  top: -2px;
  right: 0;
  width: 10px;
  height: 10px;
  content: "";
  background: #2c98f0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%
}

.proColor1 .progress-bar:before {
  content: "75%";
  position: absolute;
  bottom: 100%;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px
}

.proColor1 .progress-bar:after,.proColor1 .progress-bar {
  color: #2c98f0!important;
  background: #2c98f0!important
}

.proColor2 .progress-bar:before {
  content: "85%";
  position: absolute;
  bottom: 100%;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px
}

.proColor2 .progress-bar:after,.proColor2 .progress-bar {
  color: #f9bf3f!important;
  background: #f9bf3f!important
}

.proColor3 .progress-bar:before {
  content: "70%";
  position: absolute;
  bottom: 100%;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px
}

.proColor3 .progress-bar:after,.proColor3 .progress-bar {
  color: #2fa499!important;
  background: #2fa499!important
}

.proColor4 .progress-bar:before {
  content: "60%";
  position: absolute;
  bottom: 100%;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px
}

.proColor4 .progress-bar:after,.proColor4 .progress-bar {
  color: #ec5453!important;
  background: #ec5453!important
}

.proColor5 .progress-bar:before {
  content: "90%";
  position: absolute;
  bottom: 100%;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px
}

.proColor5 .progress-bar:after,.proColor5 .progress-bar {
  color: #a84cb8!important;
  background: #a84cb8!important
}

.proColor6 .progress-bar:before {
  content: "80%";
  position: absolute;
  bottom: 100%;
  right: 0;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px
}

.proColor6 .progress-bar:after,.proColor6 .progress-bar {
  color: #4054b2!important;
  background: #4054b2!important
}

.progress-bar {
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-weight: 600;
  text-align: right;
  position: relative;
  overflow: visible;
  border-radius: 8px;
  float: left;
  height: 100%;
  transition: width .6s ease
}

#experience {
  padding-left: 15%!important;
  padding-right: 15%!important
}

@media (max-width: 768px) {
  #experience {
      padding-left:5%!important;
      padding-right: 5%!important;
      padding-top: 15%!important
  }
}

.experienceTitle {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: Quicksand,Arial,sans-serif
}

.experienceHeading {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
  margin: 0 0 30px;
  color: #000;
  font-family: Playfair Display,Georgia,serif
}

.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 3%;
  margin-left: -1.5px
}

.timeline>li {
  margin-bottom: 20px;
  position: relative
}

.timeline>li:before,.timeline>li:after {
  content: " ";
  display: table
}

.timeline>li:after {
  clear: both
}

.timeline>li>.timeline-panel {
  width: 92%;
  float: right;
  border-radius: 2px;
  padding: 20px;
  background-color: #f2f3f7;
  position: relative
}

.timeline>li>.timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 0 solid #f2f3f7;
  border-right: 15px solid #f2f3f7;
  border-bottom: 15px solid transparent;
  content: " "
}

.timeline>li>.timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 0 solid #f2f3f7;
  border-right: 14px solid #f2f3f7;
  border-bottom: 14px solid transparent;
  content: " "
}

.timeline>li>.timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 3%;
  margin-left: -25px;
  box-shadow: 0 0 0 5px #f2f3f7;
  background: #2c98f0;
  z-index: 100;
  border-radius: 50%
}

.timeline-badge-end {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 3%;
  margin-left: -25px;
  box-shadow: 0 0 0 5px #f2f3f7;
  background: #fff;
  z-index: 100;
  border-radius: 50%
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto
}



.timeline-badge.primary {
  background-color: #2e6da4!important
}

.timeline-badge.success {
  background-color: #3f903f!important
}

.timeline-badge.warning {
  background-color: #f0ad4e!important
}

.timeline-badge.danger {
  background-color: #d9534f!important
}

.timeline-badge.info {
  background-color: #5bc0de!important
}

.timeline-panel h2 {
  font-size: 20px;
  font-family: Quicksand,Arial,sans-serif;
  font-weight: 500
}

.timeline-panel h2>a {
  color: #000;
  text-decoration: none;
  transition: .5s
}

.timeline-panel h2 span {
  opacity: .4;
  font-size: 16px
}






@media (max-width: 767px) {
  #experience {
      height:auto!important
  }

  ul.timeline:before {
      left: 40px
  }
 
  .timeline-badge-end {
      left: 15px;
      margin-left: 0
  }
}


/* .layout {
    width: calc(100% - 255px);
    position: relative;
    top: 0;
    right: 0;
    left: 255px;

} */
.img-slide{
    height: 100%;
}
.carousel-item{
    height: 100vh;
}
